body {
  font-family: 'Anonymous Pro';
  margin: 0 auto;
  text-align: center;
  background-color: white;
  background-size: 100%;
  color:black;
}

header {
  background-image:url(prison.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 960px;
  color: #fff;
}

#overlay {
	width:100%;
	height:889px;
	background-color: rgba(17,17,17, 0.6);
}

#padlock img {
	margin-bottom: -184px;
}

.numbers {
	height: 50px;
	width:50px;
	font-size: 38px;
	text-align: center;
	padding:10px;
	margin-bottom: 113px;

	}

	.begin {
		height:70px;
		width:180px;
		border-radius: 25px
		font-size:38px;
		display: inline-block;
		text-align: center;
	}

#display {
height:200px;
width:200px;
}




.scores {
height: 350px;
width:150px;
background-color: #112222;
display: inline-block;
right:0px;
border-radius:25px;
color:white;}

.chapo {
	height:50%;
	margin-right: -450px;
}

h1 {
  margin: 0 auto;
  font-size: 120px;
}

section {
  width: 100%;
  height: 500px;
}

#text-container{
	height:400px;
	width:400px;
	margin-bottom: 200px
}

.one {
  background-color: blue;
}

.two {
  padding: 50px 0px;
  background-color: orange;
}

